.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 300px;
  }

.input-with-grey-outline {
    border: 1px solid grey;
    padding: 8px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }

.dates-container {
    display: flex;
    align-items: center;
}

.dates-container {
    margin: 10px;
    color: #00b4d8;
}

.dates{
    text-align: center;
    padding-top: 30px;
}
  
/*
.re-picker-rtl .rs-picker-toggle.rs-btn {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 282px;
}

.rs-picker-rtl .rs-picker-toggle {
    position: relative;
    z-index: 5;
    padding-right: 67px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #00b4d8;
    border: 1px solid #e5e5ea;
    padding-left: 44px;
}

/* ok button style 
.rs-picker-toolbar-right-btn-ok { 
    text-align: center; 
    cursor: pointer;
    outline: 0 ; 
    border: none; 
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 30px;
    color: #fff;
    background-color: #00b4d8;
    width: 100px !important;
}
*/