.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 25px;
}

.form input{
    outline: none;
    font-size: 13px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
}

.form input:focus{
    border: 1.5px solid black;
}

.form button{
    color: darkslategray;
    padding: 12px;
    margin: 15px;
    width: 50%;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background-color: #EAF2F8;
}

.form button:hover{
    background-color: #eaedf8
}
